<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ecomwise_Creditlimit>
			<version>1.6.5</version>
		</Ecomwise_Creditlimit>
	</modules>	
	<default>	
    	<payment>
    		<pay_on_account>
    			<active>1</active>
                <model>ecomwisecredit/pay</model>
              	<order_status>payonaccount_pending</order_status>
             	<title>Pay on Account</title>             	           	
             	<po_enabled>1</po_enabled>
          	</pay_on_account>
        </payment>    	
        <creditlimit>
        	<parameters_creditlimit>
        		<use_limit>1</use_limit>        		
        		<payment_method>pay_on_account</payment_method>
        		<order_status_open>payonaccount_pending</order_status_open>
        		<message><![CDATA[You have exceeded your credit limit.]]></message>  
        		<use_global_limit>0</use_global_limit>
				<use_global_limit>0</use_global_limit>
        	</parameters_creditlimit>
        </creditlimit>
  	</default>	
	<global>
		<blocks>
			<ecomwisecredit>
				<class>Ecomwise_Creditlimit_Block</class>
			</ecomwisecredit>
		</blocks>
		<helpers>
			<ecomwisecredit>
				<class>Ecomwise_Creditlimit_Helper</class>
			</ecomwisecredit>
		</helpers>
		<models>
			<ecomwisecredit>
				<class>Ecomwise_Creditlimit_Model</class>
				<resourceModel>ecomwisecredit_mysql4</resourceModel>
			</ecomwisecredit>
			<ecomwisecredit_mysql4>			
				<class>Ecomwise_Creditlimit_Model_Mysql4</class>
				<entities>
					<creditlimits>
						<table>ecomwise_credit_limit</table>
					</creditlimits>
					<creditlimits_customers>
						<table>ecomwise_credit_limit_customers</table>
					</creditlimits_customers>													
				</entities>			
			</ecomwisecredit_mysql4>			
		</models>			
		<resources>
			<ecomwisecredit_setup>
				<setup>
					<module>Ecomwise_Creditlimit</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ecomwisecredit_setup>
			<ecomwisecredit_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ecomwisecredit_write>
			<ecomwisecredit_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ecomwisecredit_read>
		</resources>
		<fieldsets>
             <sales_convert_quote_payment>
                <creditlimit_po_number>
                    <to_order_payment>*</to_order_payment>
                </creditlimit_po_number>               
             </sales_convert_quote_payment>
        </fieldsets>
	</global>
	<frontend>		
		<layout>
			<updates>
				<ecomwisecredit>
					<file>ecomwisecredit.xml</file>
				</ecomwisecredit>
			</updates>
		</layout>
		<routers>
            <creditlimit>
                <use>standard</use>
                <args>
                    <module>Ecomwise_Creditlimit</module>
                    <frontName>creditlimit</frontName>
                </args>
            </creditlimit>
        </routers>
        <events>
     		<core_block_abstract_to_html_before>
     			<observers>
                	<change_methods>
                    	<class>Ecomwise_Creditlimit_Model_Observer</class>
                    	<method>changeTemplate</method>
                	</change_methods>
            	</observers>
     		</core_block_abstract_to_html_before>	     		
     	</events>	
     	<translate>
            <modules>
                <Ecomwise_Creditlimit>
                    <files>
                        <default>Ecomwise_Creditlimit.csv</default> 
                    </files>
                </Ecomwise_Creditlimit>
            </modules>
        </translate>	
	</frontend>	
	<admin>
	    <routers>	         
	         <adminhtml>
                <args>
                    <modules>
                        <Ecomwise_Creditlimit before="Mage_Adminhtml">Ecomwise_Creditlimit_Adminhtml</Ecomwise_Creditlimit>
                    </modules>
                </args>
            </adminhtml>
	    </routers>
 	</admin>	 
 	<adminhtml>
    	<layout>
            <updates>
              <quote>
                  <file>ecomwisecredit.xml</file>
              </quote>
           </updates>
     	</layout>
     	<events>
     		<core_block_abstract_to_html_before>
     			<observers>
                	<change_methods>
                    	<class>Ecomwise_Creditlimit_Model_Observer</class>
                    	<method>changeMethodTemplate</method>
                	</change_methods>
            	</observers>
     		</core_block_abstract_to_html_before>	     		
     	</events>
     	<translate>
            <modules>
                <Ecomwise_Creditlimit>
                    <files>
                        <default>Ecomwise_Creditlimit.csv</default> 
                    </files>
                </Ecomwise_Creditlimit>
            </modules>
        </translate>	     	    
		<acl>			
			<resources>
	        	<all>
					<title>Allow Everything</title>
				</all>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <creditlimit translate="title" module="ecomwisecredit">
	                                        <title>Credit Limit</title>
	                                    </creditlimit>
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	               </children>
	           </admin>
	       </resources>				
		</acl>		
	</adminhtml>    	
</config>