<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_ProductsAutoAdd>
            <version>0.0.2</version>
        </BroSolutions_ProductsAutoAdd>
    </modules>
    <global>
        <blocks>
            <brosolproductsautoadd>
                <class>BroSolutions_ProductsAutoAdd_Block</class>
            </brosolproductsautoadd>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>BroSolutions_ProductsAutoAdd_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                    <catalog_product>BroSolutions_ProductsAutoAdd_Block_Adminhtml_Catalog_Product</catalog_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <brosolproductsautoadd>
                <class>BroSolutions_ProductsAutoAdd_Helper</class>
            </brosolproductsautoadd>
        </helpers>
        <models>
            <brosolproductsautoadd>
                <class>BroSolutions_ProductsAutoAdd_Model</class>
            </brosolproductsautoadd>
            <shipping>
                <rewrite>
                    <shipping>BroSolutions_ProductsAutoAdd_Model_Shipping</shipping>
                </rewrite>
            </shipping>
        </models>
        <resources>
            <brosolproductsautoadd_setup>
                <setup>
                    <module>BroSolutions_ProductsAutoAdd</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brosolproductsautoadd_setup>
            <brosolproductsautoadd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brosolproductsautoadd_write>
            <brosolproductsautoadd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brosolproductsautoadd_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <brosolproductsautoadd>
                <use>standard</use>
                <args>
                    <module>BroSolutions_ProductsAutoAdd</module>
                    <frontName>brosolproductsautoadd</frontName>
                </args>
            </brosolproductsautoadd>
            <checkout>
                <args>
                    <modules>
                        <BroSolutions_ProductsAutoAdd before="Mage_Checkout">BroSolutions_ProductsAutoAdd</BroSolutions_ProductsAutoAdd>
                    </modules>
                </args>
            </checkout>
        </routers>
        <events>
            <customer_login>
                <observers>
                    <brosolproductsautoadd_add_products_to_cart>
                        <type>singleton</type>
                        <class>brosolproductsautoadd/observer</class>
                        <method>addProductsToCart</method>
                    </brosolproductsautoadd_add_products_to_cart>
                </observers>
            </customer_login>
            <checkout_cart_product_add_after>
                <observers>
                    <brosolproductsautoadd_add_products_to_cart>
                        <type>singleton</type>
                        <class>brosolproductsautoadd/observer</class>
                        <method>addProductToCartAfter</method>
                    </brosolproductsautoadd_add_products_to_cart>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <brosolproductsautoadd_success_action>
                        <type>singleton</type>
                        <class>brosolproductsautoadd/observer</class>
                        <method>checkoutSuccessAction</method>
                    </brosolproductsautoadd_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BroSolutions_ProductsAutoAdd before="Mage_Adminhtml">BroSolutions_ProductsAutoAdd_Adminhtml</BroSolutions_ProductsAutoAdd>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--stores>
        <admin>
            <dev>
                <debug>
                    <template_hints>1</template_hints>
                    <template_hints_blocks>1</template_hints_blocks>
                </debug>
            </dev>
        </admin>
    </stores-->
</config>
