<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_PopularCategories>
            <version>0.1.4</version>
        </BroSolutions_PopularCategories>
    </modules>
    <global>
        <helpers>
            <popularcategories>
                <class>BroSolutions_PopularCategories_Helper</class>
            </popularcategories>
        </helpers>
        <page>
            <layouts>
                <custom_static_page_one>
                    <label>Home page</label>
                    <template>page/home.phtml</template>
                </custom_static_page_one>
            </layouts>
        </page>
        <blocks>
            <popularcategories>
                <class>BroSolutions_PopularCategories_Block</class>
            </popularcategories>
        </blocks>
        <models>
            <popularcategories>
                <class>BroSolutions_PopularCategories_Model</class>
                <resourceModel>popularcategories_mysql4</resourceModel>
            </popularcategories>
        </models>
        <resources>
            <popularcategories_setup>
                <setup>
                    <module>BroSolutions_PopularCategories</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </popularcategories_setup>
            <popularcategories_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </popularcategories_write>
            <popularcategories_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </popularcategories_read>
        </resources>
    </global>
</config>
