<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_ShipmentCommentGrid>
            <version>0.1.0</version>
        </BroSolutions_ShipmentCommentGrid>
    </modules>
    <global>
        <helpers>
            <shipmentcommentgrid>
                <class>BroSolutions_ShipmentCommentGrid_Helper</class>
            </shipmentcommentgrid>
        </helpers>
        <blocks>
            <shipmentcommentgrid>
                <class>BroSolutions_ShipmentCommentGrid_Block</class>
            </shipmentcommentgrid>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>BroSolutions_ShipmentCommentGrid_Block_Postorder_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_view_form>BroSolutions_ShipmentCommentGrid_Block_Adminhtml_Sales_Order_View_Form</sales_order_view_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <shipmentcommentgrid>
                <class>BroSolutions_ShipmentCommentGrid_Model</class>
            </shipmentcommentgrid>
        </models>
        <resources>
            <shipmentcommentgrid_setup>
                <setup>
                    <module>BroSolutions_ShipmentCommentGrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipmentcommentgrid_setup>
            <shipmentcommentgrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipmentcommentgrid_write>
            <shipmentcommentgrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipmentcommentgrid_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BroSolutions_ShipmentCommentGrid
                                before="Mage_Adminhtml"
                        >BroSolutions_ShipmentCommentGrid_Adminhtml</BroSolutions_ShipmentCommentGrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <shipmentcommentgrid>
                    <file>brosolutions/shipmentcommentgrid.xml</file>
                </shipmentcommentgrid>
            </updates>
        </layout>
        <events>
            <sales_order_save_before>
                <observers>
                    <brosolutions_shipmentcommentgrid>
                        <type>singleton</type>
                        <class>shipmentcommentgrid/observer</class>
                        <method>saveShipsFrom</method>
                    </brosolutions_shipmentcommentgrid>
                </observers>
            </sales_order_save_before>
        </events>
    </adminhtml>
</config>