<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_SimpleRefund>
            <version>0.0.1</version>
        </BroSolutions_SimpleRefund>
    </modules>
    <global>
        <models>
            <simplerefund>
                <class>BroSolutions_SimpleRefund_Model</class>
            </simplerefund>
            <sales>
                <rewrite>
                    <order_creditmemo>BroSolutions_SimpleRefund_Model_Sales_Order_Creditmemo</order_creditmemo>
                </rewrite>
            </sales>
            <paygate>
                <rewrite>
                    <authorizenet>BroSolutions_SimpleRefund_Model_Paygate_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <core>
                <rewrite>
                    <translate>BroSolutions_SimpleRefund_Model_Core_Translate</translate>
                </rewrite>
            </core>
            <sales>
                <rewrite>
                    <order>BroSolutions_SimpleRefund_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <simplerefund>
                <class>BroSolutions_SimpleRefund_Block</class>
            </simplerefund>
            <adminhtml>
                <rewrite>
                    <sales_order_view_tab_creditmemos>BroSolutions_SimpleRefund_Block_Adminhtml_Sales_Order_View_Tab_Creditmemos</sales_order_view_tab_creditmemos>
                    <sales_order_creditmemo_totals>BroSolutions_SimpleRefund_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                    <sales_order_view_info>BroSolutions_SimpleRefund_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_creditmemo_totals>BroSolutions_SimpleRefund_Block_Sales_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <simplerefund>
                <class>BroSolutions_SimpleRefund_Helper</class>
            </simplerefund>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <simplerefund>
                    <file>simplerefund.xml</file>
                </simplerefund>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <BroSolutions_SimpleRefund before="Mage_Adminhtml">BroSolutions_SimpleRefund</BroSolutions_SimpleRefund>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>