<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_ShippingOptions>
            <version>0.0.1</version>
        </BroSolutions_ShippingOptions>
    </modules>
    <global>
        <helpers>
            <brosolshippingoptions>
                <class>BroSolutions_ShippingOptions_Helper</class>
            </brosolshippingoptions>
        </helpers>
        <resources>
            <brosolshippingoptions_setup>
                <setup>
                    <module>BroSolutions_ShippingOptions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brosolshippingoptions_setup>
            <brosolshippingoptions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brosolshippingoptions_write>
            <brosolshippingoptions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brosolshippingoptions_read>
        </resources>
        <models>
            <brosolshippingoptions>
                <class>BroSolutions_ShippingOptions_Model</class>
            </brosolshippingoptions>
        </models>
        <fieldsets>
            <sales_convert_quote>
                <local_pickup_option>
                    <to_order>*</to_order>
                </local_pickup_option>
            </sales_convert_quote>
            <sales_convert_order>
                <local_pickup_option>
                    <to_quote>*</to_quote>
                </local_pickup_option>
            </sales_convert_order>
        </fieldsets>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <brosolshippingoptions_event_observer>
                        <type>singleton</type>
                        <class>brosolshippingoptions/observer</class>
                        <method>saveShippingOptionsToQuote</method>
                    </brosolshippingoptions_event_observer>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <brosolshippingoptions>
                    <file>brosolutions/brosolshippingoptions.xml</file>
                </brosolshippingoptions>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <brosolshippingoptions>
                    <file>brosolutions/brosolshippingoptions.xml</file>
                </brosolshippingoptions>
            </updates>
        </layout>
    </adminhtml>
</config>