<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_AllCategories>
            <version>0.1.0</version>
        </BroSolutions_AllCategories>
    </modules>
    <frontend>
        <routers>
            <allcategories>
                <use>standard</use>
                <args>
                    <module>BroSolutions_AllCategories</module>
                    <frontName>allcategories</frontName>
                </args>
            </allcategories>
        </routers>
        <layout>
            <updates>
                <allcategories>
                    <file>brosolutions/allcategories.xml</file>
                </allcategories>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <allcategories>
                <class>BroSolutions_AllCategories_Helper</class>
            </allcategories>
        </helpers>
        <blocks>
            <allcategories>
                <class>BroSolutions_AllCategories_Block</class>
            </allcategories>
        </blocks>
    </global>
</config>
