<?xml version="1.0"?>
<config>
    <modules>
		<Tech18_OrderComment>
			<version>1.0.2</version>
		</Tech18_OrderComment>
	</modules>
	<global>
		<models>
			<ordercomment>
				<class>Tech18_OrderComment_Model</class>
				<resourceModel>ordercomment_mysql4</resourceModel>
			</ordercomment>
		</models>
		<events>
			<sales_order_save_after>
				<observers>
					<sales_order_save_after_handler>
						<type>model</type>
						<class>ordercomment/observer</class>
						<method>addCurrentAdminUser</method>
						<args></args>
					</sales_order_save_after_handler>
				</observers>
			</sales_order_save_after>
		</events>
		<resources>
            <ordercomment_setup>
                <setup>
                    <module>Tech18_OrderComment</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordercomment_setup>
            <ordercomment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordercomment_write>
            <ordercomment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordercomment_read>
        </resources>
	</global>
	<adminhtml>
        <events>
			<sales_order_grid_collection_load_before>
				<observers>
					<ordercomment>
						<model>ordercomment/observer</model>
						<method>salesOrderGridCollectionLoadBefore</method>
					</ordercomment>
				</observers>
			</sales_order_grid_collection_load_before>
		</events>
		<layout>
			<updates>
				<tech18_ordercomment>
					<file>tech18/extendedgrid.xml</file>
				</tech18_ordercomment>
			</updates>
		</layout>
    </adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<use>admin</use>
				<args>
					<modules>
						<ordercomment before="Mage_Adminhtml">Tech18_OrderComment_Adminhtml</ordercomment>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
</config>
