<?xml version="1.0"?>
<config>
    <modules>
        <BroSolutions_SquarePayment>
            <version>0.0.1</version>
        </BroSolutions_SquarePayment>
    </modules>
    <global>
        <helpers>
            <squarepayment>
                <class>BroSolutions_SquarePayment_Helper</class>
            </squarepayment>
        </helpers>
        <blocks>
            <squarepayment>
                <class>BroSolutions_SquarePayment_Block</class>
            </squarepayment>
                <page>
                    <rewrite>
                        <html_head>BroSolutions_SquarePayment_Block_Html_Head</html_head>
                    </rewrite>
                </page>
        </blocks>
        <models>
            <squarepayment>
                <class>BroSolutions_SquarePayment_Model</class>
            </squarepayment>
        </models>
        <events>
            <sales_order_save_before>
                <observers>
                    <square_payment_event_observer>
                        <type>singleton</type>
                        <class>BroSolutions_SquarePayment_Model_Observer</class>
                        <method>sendSquarepaymentParam</method>
                    </square_payment_event_observer>
                </observers>
            </sales_order_save_before>
        </events>
    </global>
    <default>
        <payment>
            <squarepayment>
                <active>1</active>
                <model>squarepayment/squarepayment</model>
                <order_status>processing</order_status>
                <title>Square payment</title>
                <allowspecific>0</allowspecific>
				<payment_action>authorize</payment_action>
            </squarepayment>
        </payment>
    </default>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <squarepaymentcheckout before="Mage_Checkout">BroSolutions_SquarePayment</squarepaymentcheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
		<layout>
			<updates>
				<squarepayment>
					<file>squarepayment.xml</file>
				</squarepayment>
			</updates>
		</layout>
    </frontend>
</config>